.dialog {
    display: flex;
    align-items: center;
    position: relative;
    flex: 0 0 60px;
    max-height: 60px;
    padding-left: var(--dialog-container-padding);
    gap: 10px;
}

.dialog::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    height: 1px;
    width: 0;
    background-color: var(--daker-grey-color);
}

.dialog::after {
    position: absolute;
    bottom: -1px;
    right: 0;
    content: "";
    height: 1px;
    width: 0;
    background-color: var(--daker-grey-color);
}

.dialog:hover:not(.active) {
    cursor: pointer;
    background-color: var(--light-grey-color);
}

.dialog:hover::before,
.dialog:hover::after,
.active::before,
.active::after {
    width: 100%;
}

.active {
    background-color: var(--main-color);
}

.active .dialogText * {
    color: var(--foreground-color);
}

.imgContainer {
    flex: 0 0;
    height: 100%;
    padding: 7px 0;
}

.userImg {
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}

.dialogText {
    flex: 1 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    padding: 7px var(--dialog-container-padding) 7px 0;
    border-top: 1px solid var(--daker-grey-color);
}

.preview {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.preview > span {
    white-space: nowrap;
}

.userName {
    font-weight: bold;
}