@import url('./Reset.css');

:root {
    --line-height: 1.36em;
    --background-color: #eee;
    --foreground-color: #fff;
    --light-grey-color: #f6f6f6;
    --default-grey-color: #e1e1e1;
    --dark-grey-color: #a2a2a2;
    --text-color: #464646;
    --main-color: #8e1fc0;
    --main-color-filter: brightness(0) saturate(100%) invert(17%) sepia(80%) saturate(3000%) hue-rotate(273deg) brightness(103%) contrast(103%);
    --secondary-color: #b431f5;
    --secondary-color-filter: brightness(0) saturate(100%) invert(23%) sepia(36%) saturate(7313%) hue-rotate(272deg) brightness(104%) contrast(92%);
    --invisible-color: rgb(1 1 1 / 0%);
    --layout-width: 1000px;
    --personal-layout-width: 200px;
    --gap-size: 15px;
    --block-padding: 20px;
    --block-border-radius: 15px;
    --block-border: 1px solid var(--default-grey-color);
    --header-height: 51px;
    --inner-wrapper-height: calc(100vh - var(--header-height) - var(--gap-size));
    --content-height: calc(var(--inner-wrapper-height) - var(--gap-size));
    --dialog-item-height: 60px;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: var(--line-height);
    color: var(--text-color);
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-wrapper {
    position: relative;
    right: calc((100% - 100vw) / 2);
    margin: calc(var(--header-height) + var(--gap-size)) auto 0;
    width: var(--layout-width);
    max-width: var(--layout-width);
}

.inner-wrapper {
    display: flex;
    gap: var(--gap-size);
    height: var(--inner-wrapper-height);
}

.content {
    flex: 0 0 80%;
    max-width: 80%;
    padding-bottom: var(--gap-size);
    height: max-content;
}

.stdBlock {
    padding: var(--block-padding);
    background-color: var(--foreground-color);
    border: var(--block-border);
    border-radius: var(--block-border-radius);
}

.mainButton {
    cursor: pointer;
    padding: 6px 20px;
    width: fit-content;
    color: white;
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
}

.mainButton:hover {
    background-color: var(--secondary-color);
}

.secondaryButton {
    cursor: pointer;
    padding: 6px 20px;
    width: fit-content;
    color: var(--main-color);
    font-weight: 700;
    background-color: var(--light-grey-color);
    border-radius: 5px;
    border: none;
}

.secondaryButton:hover {
    background-color: var(--default-grey-color);
}

.inlineButton {
    cursor: pointer;
    display: inline;
    text-align: left;
    padding: 0;
    margin: 0;
    color: var(--main-color);
}

.inlineButton:hover {
    text-decoration: underline;
}

.inlineButton:disabled {
    cursor: default;
    color: var(--dark-grey-color);
    text-decoration: none;
}