.message {
    display: flex;
    gap: 10px;
    padding: 5px 30px;
}

.messageImgContainer {
    flex: 0 0 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}

.messageImgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.textBlock > p {
    word-break: break-word;
}

.userName {
    font-weight: bold;
    color: var(--main-color);
}

