.about-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about {
    height: min-content;
}

.about_owner {
    cursor: pointer;
}

.about-input {
    min-width: max-content;
    position: relative;
    padding: 2px 2px 1px;
    left: -2px;
    border-radius: 4px;
    border: none;
    outline: 1px solid var(--main-color);
}

.confirm {
    cursor: pointer;
    width: 18px;
    height: 18px;
}

.confirm img {
    height: 100%;
    filter: var(--main-color-filter);
}

.confirm:hover img {
    filter: var(--secondary-color-filter);
}