:root {
    --avatar-size: 150px;
}

.account-data {
    border: var(--block-border);
    border-radius: var(--block-border-radius);
    flex: 0 0 max-content;
    overflow: hidden;
}

.wallpaper {
    position: relative;
    margin-top: -25px;
    padding-top: 25px;
    width: 100%;
    height: 250px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.wallpaper-default {
    height: 100%;
    width: 100%;
    background: rgb(127 0 255);
    background: linear-gradient(43deg, rgb(127 0 255) 0%, rgb(142 31 192) 50%, rgb(225 0 255) 100%);
}

.wallpaper img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 0 -100px;
}

.info-container {
    position: relative;
    z-index: 2;
    background-color: var(--foreground-color);
    display: flex;
    padding: var(--block-padding);
    gap: var(--gap-size);
    width: 100%;
    border-radius: inherit;
}

.avatar {
    overflow: hidden;
    position: relative;
    background-color: white;
    margin-top: calc(-1 / 2 * var(--avatar-size) - var(--block-padding));
    width: var(--avatar-size);
    height: var(--avatar-size);
    outline: 5px solid var(--foreground-color);
    border-radius: 100%;
    flex-shrink: 0;
}

.avatar img {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    object-fit: cover;
    border-radius: inherit;
}

.avatar label {
    display: block;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.avatar label input {
    display: none;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.info-header {
    font-size: 18px;
    font-weight: bold;
}

.info-data-additional {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-contacts {
    display: flex;
    gap: 6px;
}

.info-contacts img {
    width: 22px;
    filter: brightness(0) saturate(100%) invert(18%) sepia(52%) saturate(5225%) hue-rotate(275deg) brightness(92%) contrast(98%);
}

.info-contacts a:hover img {
    filter: brightness(0) saturate(100%) invert(46%) sepia(81%) saturate(7444%) hue-rotate(271deg) brightness(99%) contrast(97%);
}
