:root {
    --avatar-size: 150px;
}

.account-data {
    border: 1px solid var(--daker-grey-color);
    border-radius: 15px;
    flex: 1 0 max-content;
    overflow: hidden;
}

.wallpaper {
    position: relative;
    margin-top: -25px;
    padding-top: 25px;
    width: 100%;
    height: 250px;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.wallpaper img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 0 -100px;
}

.info-container {
    position: relative;
    z-index: 2;
    background-color: var(--foreground-color);
    display: flex;
    padding: var(--block-padding);
    gap: var(--gap-size);
    width: 100%;
    border-radius: inherit;
}

.avatar {
    margin-top: calc(-1 / 2 * var(--avatar-size) - var(--block-padding));
    width: var(--avatar-size);
    height: var(--avatar-size);
    outline: 5px solid var(--foreground-color);
    border-radius: 100%;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.info-data a:hover {
    text-decoration: underline;
}


.info-header {
    font-size: 18px;
    font-weight: bold;
}

.info-data-additional {
    display: flex;
    flex-direction: column;
    gap: 4px;
}