.item {
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 2px;
}

.item:hover {
    background-color: var(--default-grey-color);
}

.item_divided {
    margin-top: 20px;
}

.active {
    background-color: var(--default-grey-color);
}

.link {
    font-weight: 500;
}