.userItem {
    display: flex;
    gap: 15px;
    border-top: var(--block-border);
    padding: 10px 0;
}

.userItem:first-child {
    border-top: none;
}

.imgContainer {
    position: relative;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.imgContainer img {
    position: relative;
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
    object-fit: cover;
    image-rendering: optimizequality;
}

.infoContainer {
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.userName {
    font-weight: bold;
    color: var(--main-color);
}

.userName:hover {
    text-decoration: underline;
}



