.header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: var(--foreground-color);
    padding: 10px 0;
    border-bottom: 1px solid var(--daker-grey-color);
    min-height: var(--header-height);
    max-height: var(--header-height);
}

.container {
    position: relative;
    right: calc((100% - 100vw) / 2);
    display: flex;
    margin: 0 auto;
    width: var(--layout-width);
    height: 100%;
}

.logoContainer {
    display: block;
    height: 100%;
    cursor: pointer;
}