.header {
    display: flex;
    background-color: var(--foreground-color);
    padding: 10px;
    border-bottom: 1px solid var(--daker-grey-color);
    min-height: var(--header-height);
    max-height: var(--header-height);
}

.container {
    display: flex;
    margin: 0 auto;
    width: var(--layout-width);
    height: 100%;
}

.logoContainer {
    display: block;
    height: 100%;
    cursor: pointer;
}