.messageContainer {
    max-height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.messageHeader {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    align-items: center;
    flex: 0 0 50px;
    max-height: 50px;
    width: 100%;
    border-bottom: 1px solid var(--daker-grey-color);
}

.messageHeaderText {
    font-weight: bold;
}

.userImg {
    border-radius: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.messageItems {
    flex: 1 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 40px 5px;
    gap: 5px;
}


.writingPanel {
    display: flex;
    align-items: flex-end;
    min-height: var(--writing-panel-height);
    background-color: var(--light-grey-color);
    border-top: 1px solid var(--daker-grey-color);
    padding: var(--writing-panel-padding);
    gap: var(--writing-panel-padding);
}

.inputWrapper {
    display: flex;
    align-items: center;
    flex: 1 0;
    min-height: var(--input-warpper-height);
    width: 100%;
    background-color: var(--foreground-color);
    border: 1px solid var(--daker-grey-color);
    border-radius: 10px;
    padding: 10px;
}

.textInput {
    width: 100%;
    height: min-content;
    word-break: break-word;
}

.textInput:focus-visible {
    border: none;
    outline: none;
}

.sendButtonContainer {
    cursor: pointer;
    flex: 0 0 var(--input-warpper-height);
    height: var(--input-warpper-height);
    width: 100%;
    padding: 10px;
}

.sendButtonContainer img {
    width: 100%;
    height: 100%;
}