:root {
    --writing-panel-height: 70px;
    --writing-panel-padding: 15px;
    --input-warpper-height: calc(var(--writing-panel-height) - var(--writing-panel-padding) * 2);
    --dialog-container-padding: 10px;
}

.dialogs {
    display: flex;
    width: 100%;
    min-height: var(--content-height);
    max-height: var(--content-height);
    background-color: var(--foreground-color);
    border: var(--block-border);
    border-radius: var(--block-border-radius);
    overflow: hidden;
}

.dialogContainer {
    max-height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    max-width: 300px;
    border-right: 1px solid var(--default-grey-color);
}

.dialogHeader {
    display: flex;
    justify-content: flex-start;
    padding: var(--dialog-container-padding);
    align-items: center;
    flex: 0 0 50px;
    width: 100%;
    border-bottom: 1px solid var(--default-grey-color);
}

.dialogHeaderText {
    font-weight: bold;
}

.dialogItems {
    flex: 1 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: -1px;
}



